

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title class="fw-bold">{% block title %}{% endblock %} &bull; WEB APPLICATIONS</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">      
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">TUR</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'trips_overview' %}">Trips</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'create_trip' %}">New Trip</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

{% block header %}
<div class="container-fluid text-center bg-light p-3">
  <h1 class="fw-light text-bi-dark-blue">{% block header_text %}{% endblock %}</h1>
</div>
{% endblock header %}

<div class="container my-3">
{% block body  %}

{% endblock body %}
</div>

<div class="fixed-bottom bg-dark text-white text-center p-3 ">
&copy; Property of the Sven! (Copyright Pending)
</div>

</body>
</html>
