{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block body %}
<div class="container mt-5" style="max-width: 500px;">
  <h2 class="mb-4 text-center">Login</h2>

  {% if error %}
    <div class="alert alert-danger text-center">{{ error }}</div>
  {% endif %}

  <form method="post" novalidate>
    {% csrf_token %}
    {% if request.GET.next %}
    <input type="hidden" name="next" value="{{ request.GET.next }}">
  {% endif %}
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" name="username" id="username" value="{{ username }}" placeholder="Enter username" class="form-control" required>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" id="password" placeholder="Enter password" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary w-100">Login</button>
  </form>

  <p class="text-center mt-3">
    Don't have an account? <a href="{% url 'signup' %}">Sign up here</a>
  </p>
</div>
{% endblock %}
