<div class="container mt-5">
    <h1 class="mb-4"> Trips</h1>
    <div class="table-responsive">
        <table class="table table-striped table-hover shadow-sm rounded">
            <thead class="table-info">
                <tr>
                    <th>#</th>
                    <th>Trip Name</th>
                    <th>Number of Guests</th>
                    <th>Start Date</th>
                    <th>End date</th>
                    <th>Trip Status</th>

                </tr>
            </thead>
            <tbody>
                {% for trip in trips %}
                <tr class="position-relative">
                    <td>{{ forloop.counter }}</td>
                    <td>
                    <a href="{% url 'view_trip' trip.id %}">{{ trip.name }}</a>
                    </td>
                    <td>{{ trip.number_of_guests }}</td>
                    <td>{{ trip.start_date|date:"M d, Y" }}</td>
                    <td>{{ trip.end_date|date:"M d, Y" }}</td>
                    <td>{{ trip.trip_status}}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">No trips found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>