{%extends "base.html" %}


{%block title %}{{ guest }}{%endblock title%}


{%block body%}

<div class="container mt-5">
  <div class="card shadow-lg border-0">
    <div class="card-body">
      <h2 class="card-title mb-4">{{ guest  }}</h2>

      <div class="row mb-3">
        <div class="col-md-6">
          <p><strong>Date of Birth:</strong> {{ guest.date_of_birth }}</p>
        </div>
        <div class="col-md-6">
          <p><strong>Email:</strong> {{ guest.email }}</p>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <p><strong>Mobile:</strong> {{ guest.mobile }} </p>
        </div>
        {% if guest.emergency_contact %}
        <div class="col-md-6">
          <p><strong>Emergancy Contact:</strong> <a href="{% url 'guest_view' guest.emergency_contact.id %}" >{{guest.emergency_contact }} {{guest.emergency_contact.mobile }}</a> </p>
        </div>
        {% endif %}
      </div>
     
      <div>
    <a href="{% url 'guest_overview' %}" class="btn btn-outline-primary mt-4">← Back to Guests</a>
    <a href="{% url 'guest_edit' guest.id %}" class="btn btn-primary mt-4 "> <i class="bi bi-pencil-square"> </i> Edit</a>
    
      </div>
  </div>
  {% include "partials/trip_list.html" %} 
</div>



{% endblock %}
