{% extends "base.html" %}

{% block title %}Create Trip{% endblock %}

{% block body %}

<h2 class="mb-4">{% if editing %}Edit Trip{% else %}Create New Trip{% endif %}</h2>


<div class="progress mb-4">
  <div class="progress-bar" style="width: 25%">Step 1: Basic Info</div>
</div>

<form method="POST" novalidate>
    {% csrf_token %}
    
    {% if form.non_field_errors %}
    <div class="alert alert-danger">
        {{ form.non_field_errors }}
    </div>
    {% endif %}

    <div class="row g-3">
        {% for field in form %}
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>

                    {{ field }}
                    {% if field.help_text %}
                        <div class="form-text">{{ field.help_text }}</div>
                    {% endif %}
                    {% if field.errors %}
                        <div class="text-danger small">{{ field.errors }}</div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div> 

    <div class="mt-6 text-end">

        {% if editing %}
        <a class="btn btn-outline-danger" href="{% url 'view_trip' trip.id %}">Cancel Editing</a>
        {% else %}
        <a class="btn btn-outline-danger" href="{% url 'trips_overview' %}">Cancel Creating a new Trip</a> 
        {% endif %}
        <button type="submit" name="action" value="save" class="btn btn-primary">Save and Exit</button>
        <button type="submit" name="action" value="save_next" class="btn btn-primary">Save and Next</button>
    </div>
</form>

{% endblock %}
