{% extends "base.html" %}

{% block body %}

{% include "booking_system/partials/trip_details.html" %}


<div class="container mt-5">
<div class="card shadow-lg border-0">
<div class="card-body">

      <div class="accordion mb-4" id="tripDetailsAccordion">

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingGuests">
            <button class="accordion-button collapse show" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseGuests" aria-expanded="true" aria-controls="collapseGuests">
              Guests
            </button>
          </h2>
          <div id="collapseGuests" class="accordion-collapse collapse show" aria-labelledby="headingGuests" >
            <div class="accordion-body">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h4 class="m-0">Guests</h4>
                {% if user.is_authenticated %}
                <a href="{% url 'trip_guest_search' trip.id 0 %}" class="btn btn-sm btn-outline-primary">Edit Guests</a>
                {% endif %}
              </div>
              
              {% if trip.guests.exists %}
              <ul class="list-group mb-3">
                {% for guest in trip.guests.all %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{% url 'guest_view' guest.id %}">{{ guest }}</a> 
                  
                </li>
                {% endfor %}
              </ul>
              {% else %}
              <p class="text-muted mb-3">No guests added yet.</p>
              <a href="{% url 'trip_guest_search' trip.id 0 %}" class="btn btn-sm btn-outline-primary">Add Guests</a>
              {% endif %}
            </div>
          </div>
        </div>
      
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFlights">
            <button class="accordion-button collapse show" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFlights" aria-expanded="true" aria-controls="collapseFlights">
              Flights
            </button>
          </h2>
          <div id="collapseFlights" class="accordion-collapse collapse show" aria-labelledby="headingFlights" >
            <div class="accordion-body">
              {% if flights %}
                {% include "booking_system/partials/flight_table.html" %}
              {% else %}
                <p class="text-muted mb-3">No flights added yet.</p>
                {% if user.is_authenticated %}
                <a href="{% url 'trip_add_flights' trip.id %}" class="btn btn-sm btn-outline-primary">Add Flights</a>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
      
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingAccommodations">
            <button class="accordion-button collapse show" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseAccommodations" aria-expanded="true" aria-controls="collapseAccommodations">
              Accommodations
            </button>
          </h2>
          <div id="collapseAccommodations" class="accordion-collapse collapse show" aria-labelledby="headingAccommodations">
            <div class="accordion-body">
              {% if accommodations %}
              {% include "booking_system/partials/accommodation_table.html" %}
            {% else %}
              <p class="text-muted mb-3">No accommodations added yet.</p>
              {% if user.is_authenticated %}
              <a href="{% url 'trip_add_accommodations' trip.id %}" class="btn btn-sm btn-outline-primary">Add Accommodations</a>
              {% endif %}
            {% endif %}
            
            </div>
          </div>
        </div>
      
      </div>
      
      <hr>

      {% if trip.note %}
      <hr>
      <div class="alert alert-secondary" role="alert">
        <strong>Note:</strong><br>{{ trip.note|linebreaks }}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
